<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EasyContactDB"
			 connectionString="Server=JONATAN_RIVERA;Database=EasyContactDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

<!--Sustituye a al archivo de ConexionDB.cs, llevando el proyecto
a un nivel mas cercano a produccion -->